@import "../../node_modules/bootstrap/scss/bootstrap";

:root{
    --primary:rgb(15, 165, 65);
}
body{
    background-color: rgb(12, 14, 12);
}

.nav-bar{
    background-color: rgb(33, 36, 36);
    padding: 8px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar a{
    color: aliceblue;
    padding: 0px;
    text-decoration: none;
}

.nav-bar .links{
    display: flex;
}
.link{
    color: aliceblue;
    margin-right: 20px;
}

.header-background{
    background: linear-gradient(rgba(8, 13, 17, 0.8) 5%,rgba(8, 15, 13, 0.486) 60%, rgba(0, 255, 13, 0.144) 100% ),  url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.headerInfo{
    height: 100vh;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.header-container{
    height: 100vh;
}

.w-headerInfo h1{
    color: var(--primary);
    font-size: 70px;
    text-align: end;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bolder;
}
.w-headerInfo h2{
    color: aliceblue;
    font-size: 30px;
    text-align: end;
}

.w-headerInfo p{
    text-align: end;
    color: rgb(166, 167, 172);
    font-size: 20px;
}

button{
    height: 40px;
    background-color:var(--primary);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    font-size: 18px;
    color: aliceblue;
}
.seeMoreBTN{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.menuLink{
    padding: 0px 20px;
}